{% extends "base.html" %}

{% block scripts_encabezado %}
    <style>
        .carousel-inner img {
            width: 100%;
            max-height: 500px;
        }

        .carousel-inner{
         max-width: 1920px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class='text-center'>
        <strong class="blue-text">Bienvenidos a la página de Carmi</strong>
      {# <span class="strong" title = "Bienvenidos">Bienvenidos a la página de Carmi</span> #}
    </div>

    {% include "banner.html" %}
    {% include "Popup.html" %}
    <br>

{% endblock content %}

{% block scripts_pie %}
<script>
  $(document).ready(function(){
      $('#exampleModal').modal('show');
  });
    </script>
{% endblock %}
